*,
::after,
::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.73333333vw;
  color: #333;
}
img {
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f9fafb;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  height: 13.33333333vw;
  background-color: #fff;
}
.top .left {
  width: 62.66666667vw;
  height: 13.33333333vw;
  background-image: url(../assets/head.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.top .right {
  width: 21.33333333vw;
  height: 8vw;
  background-color: #ffe31b;
  border-radius: 4vw;
  text-align: center;
  line-height: 8vw;
  font-size: 3.46666667vw;
}
.search {
  padding: 2.66666667vw 4vw;
  height: 13.86666667vw;
}
.search .input {
  background-color: #f2f4f5;
  border-radius: 4.26666667vw;
  line-height: 8.53333333vw;
  text-align: center;
  font-size: 3.73333333vw;
  color: #a1a4b3;
}
.search .input .iconfont {
  font-size: 3.73333333vw;
  vertical-align: bottom;
}
.banner {
  position: relative;
  padding: 0 4vw;
  height: 28.8vw;
}
.banner .pic {
  width: 92vw;
  height: 28.8vw;
  overflow: hidden;
}
.banner .pic ul {
  display: flex;
  width: 276vw;
}
.banner .pic ul li {
  width: 92vw;
  height: 28.8vw;
}
.banner .pic ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.33333333vw;
}
.banner ol {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 1.33333333vw;
  transform: translateX(-50%);
  height: 2.66666667vw;
}
.banner ol li {
  margin: 0 0.53333333vw;
  width: 1.33333333vw;
  height: 1.33333333vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.banner ol .active {
  background-color: #fff;
}
.listhead {
  display: flex;
  margin-bottom: 2.66666667vw;
  justify-content: space-between;
  align-items: center;
  height: 7.46666667vw;
  padding: 0 4vw;
}
.listhead p {
  font-size: 5.33333333vw;
  font-weight: 700;
  color: #262338;
}
.listhead .listhead-more a {
  font-size: 2.66666667vw;
  color: #a1a4b3;
}
.listhead .listhead-more a .iconfont {
  font-size: 1.33333333vw;
}
.recommend-top {
  position: relative;
  width: 28vw;
  height: 28vw;
}
.recommend-top img {
  width: 100%;
  height: 100%;
  border-radius: 4.26666667vw;
}
.recommend-top .recommend-top-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0 2.66666667vw;
  height: 7.73333333vw;
  border-radius: 0 4.26666667vw;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 3.2vw;
  line-height: 7.73333333vw;
  font-weight: 400;
  color: #fff;
}
.recommend-bottom {
  height: 10.66666667vw;
}
.recommend-bottom p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-align: left;
  color: #262338;
}
.ranklist {
  margin-top: 3.46666667vw;
}
.ranklist .rankcontent ul li {
  margin: 0 4vw 4vw 4vw;
  height: 28vw;
  background-color: #fff;
  border-radius: 4.26666667vw;
}
.ranklist .rankcontent ul li a {
  display: flex;
  align-items: center;
}
.ranklist .rankcontent ul li a .rankcontent-left {
  margin-right: 5.6vw;
  width: 28vw;
  height: 28vw;
}
.ranklist .rankcontent ul li a .rankcontent-left img {
  width: 100%;
  height: 100%;
  border-radius: 4.26666667vw;
}
.ranklist .rankcontent ul li a .rankcontent-right {
  flex: 1;
}
.ranklist .rankcontent ul li a .rankcontent-right dl dt {
  margin-bottom: 1.6vw;
  font-size: 3.73333333vw;
  font-weight: 500;
  color: #262338;
}
.ranklist .rankcontent ul li a .rankcontent-right dl dt .iconfont {
  margin-left: 0.53333333vw;
  font-size: 3.46666667vw;
  vertical-align: middle;
}
.ranklist .rankcontent ul li a .rankcontent-right dl dd {
  margin-bottom: 0.8vw;
  font-size: 3.2vw;
  color: #a1a4b3;
}
.recommendlist {
  height: 103.2vw;
}
.recommendlist .recommendconent {
  padding: 0 4vw;
}
.recommendlist .recommendconent ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recommendlist .recommendconent ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41.33333333vw;
  width: 28vw;
}
.flexbody {
  position: fixed;
  bottom: 8vw;
  height: 12vw;
  width: 100vw;
  padding: 0 7.46666667vw;
}
.flexbody .flexbody-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4vw 0 4.8vw;
  height: 12vw;
  background-color: #fff;
  border-radius: 6.13333333vw;
}
.flexbody .flexbody-content .flexbody-left {
  display: flex;
  align-items: center;
}
.flexbody .flexbody-content .flexbody-left img {
  margin-right: 1.33333333vw;
  width: 9.86666667vw;
  height: 9.86666667vw;
}
.flexbody .flexbody-content .flexbody-left p {
  font-size: 3.73333333vw;
  font-weight: 700;
  flex: 1;
}
.flexbody .flexbody-content .flexbody-right {
  display: flex;
  justify-content: center;
  width: 7.2vw;
  height: 7.2vw;
  border-radius: 50%;
  background-color: rgba(247, 247, 247);
}
.flexbody .flexbody-content .flexbody-right .iconfont {
  font-size: 3.2vw;
  line-height: 7.2vw;
  font-weight: 700;
}
.bottom .footer {
  margin-top: 8vw;
  margin-bottom: 26.66666667vw;
}
.bottom .footer .footertop {
  display: flex;
  justify-content: center;
  margin-bottom: 2.66666667vw;
}
.bottom .footer .footertop img {
  margin-right: 1.33333333vw;
  width: 5.86666667vw;
  height: 5.86666667vw;
}
.bottom .footer .footertop p {
  font-size: 3.73333333vw;
  font-weight: 500;
}
.bottom .footer .aggreement ul {
  display: flex;
  justify-content: center;
}
.bottom .footer .aggreement ul li {
  display: flex;
  align-items: center;
  border: none;
}
.bottom .footer .aggreement ul li a {
  padding: 0 1.33333333vw;
  height: 4.8vw;
  line-height: 4.8vw;
  font-size: 3.2vw;
  color: #a1a4b3;
}
.bottom .footer .aggreement ul li:last-child i {
  display: none;
}
.bottom .footer .aggreement ul li i {
  display: block;
  width: 0.26666667vw;
  height: 2.93333333vw;
  background-color: #a1a4b3;
}
.bottom .footer .version {
  height: 4.8vw;
  text-align: center;
  font-size: 3.2vw;
  color: #a1a4b3;
}
