*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f9fafb;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  height: 13.33333333vw;
  background-color: #fff;
}
.top .left {
  width: 62.66666667vw;
  height: 13.33333333vw;
  background-image: url(../assets/head.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.top .right {
  width: 21.33333333vw;
  height: 8vw;
  background-color: #ffe31b;
  border-radius: 4vw;
  text-align: center;
  line-height: 8vw;
  font-size: 3.46666667vw;
}
.search {
  padding: 2.66666667vw 4vw;
  height: 13.86666667vw;
}
.search .input {
  background-color: #f2f4f5;
  border-radius: 4.26666667vw;
  line-height: 8.53333333vw;
  text-align: center;
  font-size: 3.73333333vw;
  color: #a1a4b3;
}
.search .input .iconfont {
  font-size: 3.73333333vw;
  vertical-align: bottom;
}
.banner {
  position: relative;
  padding: 0 4vw;
  height: 28.8vw;
}
.banner .pic {
  width: 92vw;
  height: 28.8vw;
  overflow: hidden;
}
.banner .pic ul {
  display: flex;
  width: 276vw;
}
.banner .pic ul li {
  width: 92vw;
  height: 28.8vw;
}
.banner .pic ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.33333333vw;
}
.banner ol {
  position: absolute;
  left: 50%;
  bottom: 1.33333333vw;
  display: flex;
}
.banner ol li {
  margin: 0 0.53333333vw;
  display: block;
  width: 1.33333333vw;
  height: 1.33333333vw;
  background-color: black;
}
