/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1240px;
}

/* 快捷导航 */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  height: 52px;
}

.shortcut ul {
  display: flex;
  justify-content: flex-end;
}

.shortcut ul a {
  padding: 0 16px;
  line-height: 52px;
  border-right: 1px solid #666;
  font-size: 14px;
  color: #dcdcdc;
}

.shortcut li:last-child a {
  border: none;
}

.shortcut ul li .iconfont {
  margin-right: 4px;
  vertical-align: bottom;
}

.shortcut ul .login {
  color: #5EB69C;
}

/* 头部 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  height: 88px;
  /* background-color: pink; */
}

.header .logo h1 a {
  display: block;
  width: 202px;
  height: 88px;
  background-image: url(../images/logo.png);
  font-size: 0px;
}

.header .nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 968px;
  height: 30px;
}

.header .nav ul {
  display: flex;
  margin-left: 32px;
}

.header .nav li {
  margin-right: 48px;
}

.header .nav li a {
  padding-bottom: 7px;
  line-height: 30px;
  font-size: 16px;
}

.header .nav li :hover,
.header .nav .active {
  border-bottom: 2px solid #5EB69C;
  color: #5EB69C;
}

.header .nav .search {
  display: flex;
  width: 172px;
  height: 30px;
  border-bottom: 2px solid #e7e7e7;
}

.header .nav .search .iconfont {
  margin-right: 10px;
  line-height: 30px;
  font-size: 18px;
  color: #ccc;
}

.header .nav .search input {
  /* 浏览器默认优先生效 input 标签的默认宽度 所以 flex: 1 不生效 */
  /* 解决办法：重置 input 默认宽度 -> width: 0; */
  flex: 1;
  width: 0;
}

.header .nav .search input::placeholder{
  font-size: 14px;
  color: #ccc;
}

.header .nav .cart {
  position: relative;
}

.header .nav .cart a {
  margin-right: 10px;
  font-size: 28px;
  line-height: 30px;
}

.header .nav .cart i {
  position: absolute;
  padding: 0px 7px 1px 7px;
  top: -6px;
  left: 15px;
  height: 20px;
  background-color: #e26237;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
}


/* 底部 */
.footer {
  height: 580px;
  background-color: #f5f5f5;
}

.footer .servive {
  padding: 60px 0;
  height: 178px;
  border-bottom: 2px solid #e8e8e8;
}

.footer .servive ul {
  display: flex;
  justify-content: space-evenly
}

.footer .servive ul li {
  display: flex;
}

.footer .servive ul span {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background: url(../images/sprite.png);
}

.footer .servive ul li:nth-child(2) span {
  background-position: 0 -58px;
}


.footer .servive ul li:nth-child(3) span {  
  background-position: 0 -116px;
}

.footer .servive ul li:nth-child(4) span {  
  background-position: 0 -174px;
}

.footer .servive ul p {
  font-size: 26px;
  line-height: 58px;
}

.footer .help {
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.footer .help .left {
  display: flex;
  width: 862px;
  justify-content: space-between;
}

.footer .help .left dt {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 18px;
}

.footer .help .left dd {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer .help .left dd a {
  color: #969696 ;
}

.footer .help .left dd .iconfont {
  margin-left: 5px;
  font-size: 16px;
  color: #5EB69C;
}

.footer .right {
  margin-top: 60px;
  width: 300px;
}

.footer .right ul {
  display: flex;
  justify-content: space-between;
}

.footer .right img {
  width: 120px;
  height: 120px;
}

.footer .right p {
  width: 120px;
  text-align: center;
  line-height: 32px;
  color: #969696 ;
}

.footer .copyright {
  margin: 0 auto;
  width: 660px;
  height: 60px;
  font-size: 16px;
}

.footer .copyright p {
  color: #A1A1A1;
}

.footer .copyright p:first-child {
  display: flex;
  justify-content: space-between;
}

.footer .copyright p:first-child a {
  color: #A1A1A1;
}

.footer .copyright p:last-child {
  margin-top: 10px;
  text-align: center;
}
