/* 首页内容的样式 */


/* banner */
.banner {
  height: 500px;
  background-color: #F5F5F5;
}

.banner .wrapper {
  position: relative;
  overflow: hidden;
}

/* 轮播图 */
.banner .pic {
  display: flex;
  width: 3720px;
}

/* 侧导航 */
.banner .sidenav {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.52;
  width: 250px;
  height: 500px;
  background-color: #000;
}

.banner .sidenav ul {
  padding-left: 30px;
  padding-right: 14px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner .sidenav li {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
}

.banner .sidenav .classify {
  margin-right: 14px;
  font-size: 16px;
}

.banner .sidenav a {
  font-size: 14px;
  color: #fff;
}


.banner .sidenav li .iconfont {
  margin-top: 2px;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
}