/* 首页样式 */

/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部 */

.head {
    height: 100px;
    background-color: #fff;
}

/* 头部版心 */

.head .wrapper {
    display: flex;
    padding-top: 30px;
}

/* logo */

.head .logo a {
    display: block;
    background-image: url("../images/logo.png");
    width: 195px;
    height: 41px;
    font-size: 0;
}

/* 导航 */

.head .nav {
    margin-left: 102px;
}

.head .nav ul {
    display: flex;

}

.head .nav li {
    margin-right: 24px;
}

.head .nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.head .nav li .active,
.head .nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */

.head .search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.head .search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}

/* ::placeholder 设置 placeholder 文字样式*/
.head .search input::placeholder {
    font-size: 14px;
    color: #999;
}

.head .search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url('../images/search.png');
}

.head .user {
    margin-left: 32px;
    margin-top: 4px;
}

.head .user a {
    display: flex;
}

.head .user img {
    margin-right: 8px;
    /* 调整行内、行内块垂直对齐方式 */
    /* vertical-align: middle; */

}

.head .user span {
    font-size: 16px;
    color: #666;
    align-self: center;
}

/* banner 区域 */

.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .left a {
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    background: url(../images/right.png) no-repeat right center;
}

.banner .left a:hover {
    background-image: url("../images/right-hover.png");
    color: #00a4ff;
}

.banner .right {
    width: 218px;
	height: 305px;
} 