/* 首页样式 */

/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部 */

.head {
    height: 100px;
    background-color: #fff;
}

/* 头部版心 */

.head .wrapper {
    display: flex;
    padding-top: 30px;
}

/* logo */

.head .logo a {
    display: block;
    background-image: url("../images/logo.png");
    width: 195px;
    height: 41px;
    font-size: 0;
}

/* 导航 */

.head .nav {
    margin-left: 102px;
}

.head .nav ul {
    display: flex;

}

.head .nav li {
    margin-right: 24px;
}

.head .nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.head .nav li .active,
.head .nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */

.head .search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.head .search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}

/* ::placeholder 设置 placeholder 文字样式*/
.head .search input::placeholder {
    font-size: 14px;
    color: #999;
}

.head .search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url('../images/search.png');
}

.head .user {
    margin-left: 32px;
    margin-top: 4px;
}

.head .user a {
    display: flex;
}

.head .user img {
    margin-right: 8px;
    /* 调整行内、行内块垂直对齐方式 */
    /* vertical-align: middle; */

}

.head .user span {
    font-size: 16px;
    color: #666;
    align-self: center;
}

/* banner 区域 */

.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .left a {
     /* 块级：宽度自动是父级的100% */
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    background: url(../images/right.png) no-repeat right center;
}

.banner .left a:hover {
    background-image: url("../images/right-hover.png");
    color: #00a4ff;
}

.banner .right {
    margin-top: 60px;
    width: 218px;
	height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3 {
    margin-left: 14px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content {
    padding: 14px;
    height: 258px;
    background-color: #fff;
}

.banner .right .content dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right .content dt {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.banner .right .content dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right .content span {
    color: #209dd5;
}

.banner .right .content strong {
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right .content a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    border-radius: 15px;
    
}

/* 推荐 */

.recommond {
    display: flex;
    margin-top: 11px;
    padding: 18px 20px;
    height: 60px;
    background-color: #fff;	
    /* x轴偏移量、y轴偏移量、 模糊程度、扩散程度*/
    box-shadow: 0px 5px 3px 0px rgba(211, 211, 211, 0.5);
}

.recommond h3 {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #00a4ff;
}

.recommond ul {
    display: flex;
    flex: 1;
    
}

.recommond ul li a {
    padding: 0 24px;
    font-size: 18px;
    border-right: 1px solid #e0e0e0;
}

.recommond ul li:last-child a {
    border: 0;
}

.recommond .modify {
    font-size: 16px;
    color: #00a4ff;
}


/* 精品课程区域 */

.course {
    margin-top: 15px;
    /* height: 600px; */
}


/* 标题 - 公共类，与其他区域共用 */
.hd {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    height: 60px;
    font-size: 21px;
}

.hd .more {
    padding-right: 20px;
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd ul li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: #fff;

}

.bd .pic {
    height: 156px;
}

.bd .text {
    padding: 20px;
    font-size: 14px;
}

.bd .text h4  {
    margin-bottom: 11px;
    height: 40px;
    line-height: 20px;
}

.bd .text p {
    text-align: center;
    line-height: 24px;
    color: #999;
}

.bd .text span {
    color: #fa6400;
}

.bd .text i {
    font-style: normal;
}

/* 前端 */
.hd ul {
    display: flex;
}

.hd li {
    margin-right: 60px;
    font-size: 16px;
}

.hd li .active {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228px;
	height: 386px;
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

